/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

*{
    margin:0;
    padding:0;

}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.logo{
    width: 250px;
    margin: 10px;
}

h1{
    font-size: 30px;

}

nav{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: auto 0;

}

li{
    display: flex;
    justify-content: flex-end;
}

a{
    text-decoration: none;
    color: #1A1A1A;
    display: flex;
    margin: 20px;


}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100vw;
    background-image : url(/images/landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.features{
    display : flex;
    flex-direction: row;
    justify-content: center;
   

}

.logofeat{

    width: 8vw;
    margin: 10px;
}

article{

    width: 300px;
    padding: 30px;
    text-align: center;
}

h1{
    color: #FFFFFF;
    font-size: 50px;
   
}

h2{
    color: #FFFFFF;
    font-size: 20px;
    width: 600px;
    text-align: center;
}

h3{ 
    display: flex;
    justify-content: center;
    color: #00B172;
    font-size: 26px;
    margin: 50px auto;
    text-decoration: underline;
    text-decoration-thickness: 5px;

}

h4{

    color: #00B172; 
    font-size: 20px;
    margin: 10px 0 20px 0;

}

footer{
    background-color: #00B172; 
    
    
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    witdh: 800px;
}

.white{
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
}

.logowhite{
    width: 6vw;
    position: absolute;
}

.imgapp{
    width: 200px;
}

.titlefooter{
    display: flex;
    color: #ffffff;
    padding: 50px 0;
    text-align: left;
}

footer p{
    text-align: left;
    margin-bottom: 50px;
}